@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.infoU {
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

.infoUser {
  opacity: 0;
  animation: fade-in 1.5s forwards;
}

.mainDashContU {
  display: flex;
  flex-wrap: wrap;
}

.conTituloU {
  color: var(--text-color);
  margin: 2.5rem 0 0rem 0;
  text-align: center;
  width: 100%;
  height: 40px;
  position: absolute;
}

.favContainerU {
  position: relative;
  top: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: max-content;
  overflow: hidden;
  margin-bottom: 2rem;
}

.favcardLeftPhotoU {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 10%;
  height: auto;
}

.imgFavorU img {
  transition: all 0.3s;
  display: block;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.favcardLeftU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: medium;
  width: 20%;
  height: auto;
  color: var(--text-color);
  border-right: 1px solid var(--greylight);
}

.favcardCenterU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: medium;
  width: 30%;
  height: auto;
  margin: 0 2rem 0 2rem;
  padding-left: 2%;
  padding-right: 2%;
  color: var(--text-color);
  border-right: 1px solid var(--greylight);
}

.favcardRightU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: medium;
  width: 30%;
  height: auto;
  padding-left: 2%;
  padding-right: 2%;
  color: var(--text-color);
}


.BtnCloseUser {
  position: relative;
  left: 50px;
  top: 1%;
  width: 25px;
  height: 21px;
  cursor: pointer;
  background: url(../../Assets/btn-close.png) center no-repeat;
  z-index: 5;
}

.BtnCloseUser,
.BtnCloseUser:focus {
  outline: none;
  border: 1px solid transparent;
}

.BtnCloseUser:active {
  outline: none;
  border: 1px solid grey;
}

.BtnAddAdmin {
  position: relative;
  left: 50px;
  top: 1%;
  width: 25px;
  height: 21px;
  cursor: pointer;
  background: url(../../Assets/ico_add_admin.png) center no-repeat;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  z-index: 5;
}

.BtnAddAdmin,
.BtnAddAdmin:focus {
  outline: none;
  border: 1px solid transparent;
}

.BtnAddAdmin:active {
  outline: none;
  border: 1px solid grey;
}


.BtnDelAdmin {
  position: relative;
  left: 34px;
  top: 1%;
  width: 25px;
  height: 23px;
  cursor: pointer;
  background: url(../../Assets/ico-del-admin.png) center no-repeat;
  background-color: white;
  border-radius: 5px;
  z-index: 5;
}

.BtnDelAdmin,
.BtnDelAdmin:focus {
  outline: none;
  border: 1px solid transparent;
}

.BtnDelAdmin:active {
  outline: none;
  border: 1px solid grey;
}

.BtnRestore {
  position: relative;
  left: 33px;
  top: 1%;
  width: 25px;
  height: 23px;
  cursor: pointer;
  background: url(../../Assets/ico-restore.png) center no-repeat;
  background-color: rgba(255, 255, 255, 0.814);
  border-radius: 5px;
  z-index: 5;
}

.BtnRestore,
.BtnRestore:focus {
  outline: none;
  border: 1px solid transparent;
}

.BtnRestore:active {
  outline: none;
  border: 1px solid grey;
}