@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.lcard {
  position: relative;
  font-family: 'Red Hat Display';
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 38rem;
  color: var(--text-color-sec);
  word-wrap: break-word;
  text-align: center;
  background-color: var(--background-sec);
  backdrop-filter: blur(1rem);
  box-shadow: 0px 5px 5px 0px var(--shadow);
  border-radius: 1.6rem;
  margin: 10px 1% 10px 1%;
  transition: ease 0.2s, left 0.2s;
  border: 1px solid var(--border);
  overflow: hidden;
  animation: fade-in 0.5s ease;
}

.lcard img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}

.btnFavHome {
  border: none;
  position: absolute;
  left: 81.63%;
  top: 2%;
  width: 45px;
  height: 43px;
  cursor: pointer;
  background: url(../../Assets/botonFAV_inactive.png);
  z-index: 1;
}

.btnFavHome:hover {
  border: none;
  position: absolute;
  left: 81.63%;
  top: 2%;
  width: 45px;
  height: 43px;
  cursor: pointer;
  background: url(../../Assets/botonFAV_active.png);
}

.btnFavEliminarHome {
  z-index: 100;
  border: none;
  position: absolute;
  left: 81.63%;
  top: 2%;
  width: 45px;
  height: 43px;
  cursor: pointer;
  background: url(../../Assets/botonFAV_active.png);
}

.btnEliminarPets {
  z-index: 100;
  border: none;
  position: absolute;
  left: 90%;
  top: 2%;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: url(../../Assets/ico_trash-can.png);
}

.lcard .txtCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 0 15px 0 15px;
}

.lcard .txtLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.lcard .txtRight {
  padding-top: 20pt;
  width: 50%;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.lcard .title {
  font-size: 2rem;
  color: var(--white);
  text-align: left;
  vertical-align: text-bottom;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.lcard .breed {
  font-size: 1.4rem;
  color: var(--white);
  text-align: left;
  line-height: 0.9;
  margin-bottom: 10pt;
  vertical-align: text-bottom;
  text-transform: capitalize;
}

.lcard .age {
  font-size: 1.2rem;
  color: var(--white);
  text-align: left;
  line-height: 0.9;
  margin-bottom: 10pt;
  vertical-align: text-bottom;
}

.lcard .location {
  font-size: 1.2rem;
  color: var(--white);
  text-align: left;
  line-height: 0.9;
  margin-bottom: 10pt;
  vertical-align: text-bottom;
  text-transform: capitalize;
}

.lcard .attributes {
  font-size: .9rem;
  color: var(--white);
  text-align: left;
  line-height: 0.9;
  vertical-align: text-bottom;
}

.lcard .views {
  font-size: 1rem;
  color: var(--white);
  line-height: 0.9;
  margin-bottom: 10pt;
  vertical-align: text-bottom;
  text-align: right;
  padding-right: 30px;
}

.lcard .views .icoEye {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 360px;
  top: 325px;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 17 17' width='20' height='20' xmlns='http://www.w3.org/2000/svg'><g><path d='M16.2954 7.67773C14.789 4.57783 11.8068 2.48047 8.39207 2.48047C4.97735 2.48047 1.9943 4.5793 0.488741 7.67803C0.425197 7.8106 0.39209 7.95707 0.39209 8.10562C0.39209 8.25416 0.425197 8.40063 0.488741 8.5332C1.99513 11.6331 4.97735 13.7305 8.39207 13.7305C11.8068 13.7305 14.7899 11.6316 16.2954 8.53291C16.359 8.40034 16.3921 8.25387 16.3921 8.10532C16.3921 7.95677 16.359 7.81031 16.2954 7.67773V7.67773ZM8.39207 12.3242C7.60095 12.3242 6.82759 12.0768 6.16979 11.6132C5.512 11.1497 4.99931 10.4908 4.69656 9.71991C4.39381 8.94904 4.31459 8.10079 4.46893 7.28243C4.62327 6.46407 5.00424 5.71236 5.56365 5.12236C6.12306 4.53236 6.83579 4.13056 7.61171 3.96778C8.38764 3.805 9.1919 3.88854 9.92281 4.20785C10.6537 4.52716 11.2784 5.06789 11.718 5.76166C12.1575 6.45543 12.3921 7.27108 12.3921 8.10547C12.3923 8.65956 12.289 9.20827 12.0881 9.72023C11.8872 10.2322 11.5926 10.6974 11.2211 11.0892C10.8496 11.481 10.4085 11.7917 9.92311 12.0036C9.43769 12.2156 8.91743 12.3245 8.39207 12.3242V12.3242ZM8.39207 5.29297C8.15406 5.29648 7.91757 5.33383 7.68902 5.404C7.87741 5.67403 7.96782 6.00631 7.94384 6.34061C7.91986 6.6749 7.78309 6.98907 7.55832 7.22612C7.33356 7.46318 7.03569 7.60743 6.71873 7.63272C6.40177 7.65801 6.08671 7.56266 5.83069 7.36396C5.6849 7.93045 5.71122 8.53088 5.90593 9.08076C6.10065 9.63064 6.45396 10.1023 6.91613 10.4293C7.37831 10.7563 7.92608 10.9222 8.48234 10.9037C9.03861 10.8851 9.57536 10.6831 10.017 10.326C10.4587 9.96885 10.7831 9.47463 10.9445 8.91289C11.1059 8.35114 11.0963 7.75015 10.9169 7.1945C10.7375 6.63886 10.3974 6.15653 9.94447 5.81542C9.49155 5.47431 8.94861 5.29159 8.39207 5.29297V5.29297Z' fill='white'/></g></svg>") no-repeat;
}

.lcard .sex {
  font-size: 1rem;
  color: var(--white);
  line-height: 0.9;
  margin-bottom: 10pt;
  vertical-align: text-bottom;
  text-transform: capitalize;
  text-align: right;
  padding-right: 30px;
}

.lcard .sex .icoSex img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 358px;
  top: 346px;
  color: var(--white);
}

.lcard .size {
  font-size: 1rem;
  color: var(--white);
  line-height: 0.9;
  margin-bottom: 10pt;
  vertical-align: text-bottom;
  text-transform: capitalize;
  text-align: right;
  padding-right: 30px;
}

.lcard .size .icoSize img {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 359px;
  top: 375px;
  color: var(--white);
}

/* .lcard .size .icoSize {
  position: absolute;
  border-left: solid 1px var(--white);
  border-top: solid 1px var(--white);
  width: 22px;
  height: 20px;
  left: 360px;
  top: 380px;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 26 26' width='22' height='22' xmlns='http://www.w3.org/2000/svg'><g><path d='M12.6583 10.3326L5.04419 13.0319V24.0435C5.04419 24.2574 5.12979 24.4626 5.28216 24.6138C5.43454 24.7651 5.6412 24.85 5.85669 24.85H9.10669C9.32218 24.85 9.52884 24.7651 9.68121 24.6138C9.83359 24.4626 9.91919 24.2574 9.91919 24.0435V18.3978H18.0442V24.0435C18.0442 24.2574 18.1298 24.4626 18.2822 24.6138C18.4345 24.7651 18.6412 24.85 18.8567 24.85H22.1067C22.3222 24.85 22.5288 24.7651 22.6812 24.6138C22.8336 24.4626 22.9192 24.2574 22.9192 24.0435V13.2608C24.8062 12.5929 26.1692 10.8195 26.1692 8.71953C26.1692 8.29172 25.998 7.88144 25.6932 7.57893C25.3885 7.27643 24.9752 7.10648 24.5442 7.10648C24.1132 7.10648 23.6999 7.27643 23.3951 7.57893C23.0904 7.88144 22.9192 8.29172 22.9192 8.71953C22.9184 9.14709 22.7469 9.55691 22.4423 9.85925C22.1378 10.1616 21.7249 10.3318 21.2942 10.3326H12.6583ZM0.169189 4.6869V6.29995C0.169189 7.15557 0.5116 7.97614 1.12109 8.58115C1.73059 9.18616 2.55724 9.52606 3.41919 9.52606H5.04419V11.3196L11.5442 9.01542V1.4608C11.5442 0.742486 10.6697 0.382574 10.1574 0.890686L8.77204 2.26732H6.04864C5.49462 2.26732 4.84259 2.66655 4.59528 3.15904L4.23169 3.88038H0.981689C0.766201 3.88038 0.559538 3.96535 0.407165 4.1166C0.254791 4.26785 0.169189 4.473 0.169189 4.6869ZM5.85669 4.6869C5.85669 4.52739 5.90434 4.37145 5.99362 4.23882C6.0829 4.10619 6.20979 4.00281 6.35826 3.94177C6.50672 3.88072 6.67009 3.86475 6.8277 3.89587C6.98531 3.92699 7.13008 4.00381 7.24371 4.1166C7.35734 4.2294 7.43473 4.37311 7.46608 4.52956C7.49743 4.68601 7.48134 4.84817 7.41984 4.99555C7.35835 5.14292 7.25421 5.26888 7.12059 5.3575C6.98698 5.44613 6.82989 5.49343 6.66919 5.49343C6.4537 5.49343 6.24704 5.40845 6.09466 5.2572C5.94229 5.10595 5.85669 4.90081 5.85669 4.6869Z' fill='white'/></g></svg>") no-repeat;
} */

.lcard .weigth {
  font-size: 1rem;
  color: var(--white);
  line-height: 0.9;
  margin-bottom: 10pt;
  vertical-align: text-bottom;
  text-align: right;
  padding-right: 30px;
}

.lcard .weigth .icoWeigth {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 362px;
  top: 409px;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 26 26' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='M18.557 17.6076C18.5267 18.1464 18.2885 18.6533 17.8915 19.0241C17.4944 19.395 16.9686 19.6016 16.422 19.6016H3.36165C2.81509 19.6016 2.28926 19.395 1.89219 19.0241C1.49512 18.6533 1.25696 18.1464 1.22662 17.6076L0.395386 2.82984C0.379249 2.54322 0.422488 2.25636 0.52246 1.98679C0.622432 1.71723 0.777036 1.47063 0.976821 1.26207C1.17661 1.05351 1.41737 0.887362 1.68441 0.773795C1.95144 0.660227 2.23913 0.601622 2.52988 0.601563H17.2538C17.5446 0.601551 17.8323 0.660103 18.0994 0.773638C18.3665 0.887174 18.6073 1.05331 18.8072 1.26188C19.007 1.47045 19.1617 1.71707 19.2617 1.98667C19.3617 2.25627 19.4049 2.54317 19.3888 2.82984L18.557 17.6076ZM15.3678 6.81826C15.8062 6.53326 15.9163 5.96801 15.5565 5.60015C14.9463 4.97843 14.2331 4.46404 13.4477 4.07909C12.3571 3.54503 11.1593 3.25884 9.94207 3.24151C8.72375 3.22157 7.51631 3.47077 6.4081 3.9709C5.6091 4.33134 4.87794 4.82319 4.24581 5.42545C3.87322 5.78223 3.9625 6.35012 4.39068 6.64884L6.6957 8.25645C7.12334 8.55517 7.72632 8.45859 8.16947 8.17992C8.2838 8.10832 8.40292 8.04449 8.52602 7.98887C8.91949 7.81118 9.34638 7.71714 9.77903 7.71284L11.5928 5.65398C11.6858 5.5483 11.8175 5.48342 11.959 5.47362C12.029 5.46877 12.0993 5.47759 12.1659 5.49957C12.2325 5.52155 12.2941 5.55626 12.3471 5.60173C12.4001 5.6472 12.4435 5.70252 12.4748 5.76455C12.5061 5.82659 12.5248 5.8941 12.5297 5.96326C12.5346 6.03241 12.5257 6.10184 12.5034 6.16758C12.4812 6.23332 12.446 6.2941 12.4 6.34642L10.993 7.94295C11.1836 8.02081 11.3656 8.11772 11.5361 8.23217C11.9691 8.52404 12.5678 8.63856 13.0062 8.35356L15.3673 6.81773L15.3678 6.81826Z' fill='white'/></g></svg>") no-repeat;
}

.lbutton {
  width: 150px;
  height: 40px;
  padding-top: 5px;
  margin-left: 15px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: 'Mochiy Pop One';
  color: var(--text-color-sec);
  background: var(--backgroundBttn);
  border: 1px solid var(--border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: 3px;
}

.lbutton:hover {
  color: var(--text-color-sec);
  background: var(--text-color);
  border: 1px solid var(--border);
}

.lbutton:focus {
  background: var(--text-color);
  border: 1px solid var(--border);
}

.lbutton:active {
  background: var(--text-color);
  border: 1px solid var(--border);
}

.lbutton a {
  text-decoration: none;
  font-family: 'Mochiy Pop One';
  color: var(--text-color-sec);
}

.lbutton a:hover {
  color: var(--background);
}