

.logo-ld{
    display:flex;
    justify-content:center;
}

.title-ld{
    display:flex;
    justify-content:center;
    margin-top: 20px;
    color:rgb(180, 180, 180);
    white-space: pre;
    font-family: monospace;
}

.pet-ld{
    display:flex;
    justify-content:center;
    margin-top: 20px;
}

.sub-ld{
    display:flex;
    justify-content:center;
    margin-top: 20px;
    color:rgb(180, 180, 180);
    white-space: pre;

} 