.alignRightLogin {
  position: absolute;
  left: 18rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0% 15px 0 15px;
  width: 100%;
}

.wrapperLeft {
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.wrapperRight {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.logCard-wrapper {
  width: 100%;
}

.logCard {
  border-color: transparent;
  background-color: transparent;
  height: 100%;
  color: var(--greylight);
}

.logCard.fat {
  padding: 10px;
  height: 700px;
  background-color: transparent;
  border-color: transparent;
}

.logCard.header {
  margin-bottom: 1pt;

}

.logCard-body {
  margin-top: 0pt;
}

.logCard .logCard-title {
  margin-bottom: 30px;
}

.form-control {
  border-width: 2.3px;
}

.form-group label {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 30px;
}

.btn.btn-block {
  width: 100%;
  padding: 12px 10px;
  margin-top: 10px;
  background-color: var(--green) !important;
  border: solid 1px var(--border);
  box-shadow: 0px 5px 5px 0px var(--grey2);
}

.btn.btn-block:hover {
  border: solid 1px var(--border);
  background-color: var(--pink) !important;
}


.Loginfooter {
  color: var(--greylight);
  text-align: center;
}

.custom-control {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 13px;
}

.customControlInput {
  margin: 25px 10px 0 0;
}

h6 {
  display: flex;
  flex-direction: row;
  color: var(--greylight);
}

h6:before,
h6:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

h6:before {
  margin-right: 10px
}

h6:after {
  margin-left: 10px
}

@media screen and (max-width: 425px) {
  .logCard-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .logCard.fat {
    padding: 0;
  }

  .logCard.fat .logCard-body {
    padding: 15px;
  }
}