.about-container {
  border-radius: 10px;
  background-color: #ffffffbb;
  border: 1px solid #cccccc;
  padding: 80px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
