
.chat-display{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    overflow-y: auto;
}

.chat-right, .chat-left{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;   
    padding: 15px;
    margin:10px;
    border-radius: 15px;
}
.chat-right{

    background-color: #e2e2ff;
    align-self: flex-end;
}

.chat-left{
    
    background-color: #e6e1e6;
  align-self: flex-start;

    }
.chat-new{
    text-align: center;
    font-style: italic;
    color: #ff0000;

}
.chat-input-container{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}
.chat-input{
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 15px;
    resize: none;
    width: 90%;
    height: 100%;
}
.chat-input:focus{
    outline: none;
}
.chat-left-container{
    display: flex;
    flex-direction:column;
    
}
.chat-button{
    background-color: #FF8AE5;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    width: 10%;
    min-width: 100px;
    max-width: 100px;
}
.chat-font-size{
    font-size: 20px;
}
