@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.pagination {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-wrap: wrap;
  animation: fade-in 1s ease;
  align-content: center;
  flex-direction: row;
}

.pages{
  font-size: 1.5rem;
  animation: fade-in 1s ease;
  margin: 2rem;
}

.btn-pages{
  text-decoration: none;
  background: transparent;
  border: none;
}

.pagesNone{
  background-color: transparent;
  margin: 0 3rem;
}
.arrowPages{
  width: 5rem;
  cursor: pointer;
  position: relative;

}

#previousPage{
  text-decoration: none;
  text-align: center;
  height: 5rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  animation: fade-in 1s ease;
}

#nextPage{
  display: flex;
  text-decoration: none;
  text-align: center;
  height: 5rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  animation: fade-in 1s ease;
}

.pagination:hover {
  opacity: 1;
  box-shadow: none;
}

.pagination li {
  background-color: var(--background);
  border: solid 1px var(--greylight);
  color: var(--greylight);
  margin: 5px;
  border-radius: .5rem;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7); */
}

.pagination li:hover {
  transform: scale(1);
  opacity: 1;
  background-color: var(--pink);
  box-shadow: 0px 2px 4px 0px var(--shadow);
}

.pagination .liactive {
  transform: scale(1);
  opacity: 1;
  color: var(--text-color-pag) !important;
  background-color: var(--pink);
  box-shadow: 0px 2px 4px 0px var(--shadow);
}

.pagination span {
  text-decoration: none;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.pagination span:hover {
  color: var(--white);
}


@media only screen and (max-width: 992px) {
  .pagination {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    margin-bottom: 0px;
  }

  @media only screen and (max-width: 757px) {
    .pagination span {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }

  @media only screen and (max-width: 653px) {
    .pagination .pages {
      display: flex;
      flex-direction: row;
      padding: 1px 3px;
      font-size: 5px;
    }
  }

  @media only screen and (max-width: 480px) {
    .pagination .pages {
      display: flex;
      flex-direction: row;
      padding: 3px 6px;
      font-size: 5px;
      margin-right: 1px;
    }

  }
}