.header-container {
    display: flex;
    flex-direction: row;
}

.btn-headerTeam {
    border: none;
    background: transparent;
}

.header-carousel {
    width: 860px;
}

.header-buttons {
    margin: 14px;
    display: flex;
    flex-direction: column;
}

.header-team {
    width: 100%;
    height: auto;
}

.marginImage {
    margin-top: 6px;
}

.marginImageRight {
    display: flex;
    justify-content: right;
}

.header-donations {
    margin-top: 8px;
    width: 420px;
    height: 160px;
}

@media (max-width: 1400px) {
    .header-container {
        flex-direction: column;
    }

    .header-carousel {
        width: 100%;
        min-width: 14rem;
    }

    .header-buttons {
        flex-direction: row;
        align-items: flex-end;
    }

    .header-donations {
        margin-bottom: 6px;
    }

    .marginImage {
        display: flex;
        justify-content: left;
    }

    .marginImageRight {
        display: flex;
        justify-content: right;
    }
}

@media (max-width: 991px) {

    .header-buttons {
        width: 100%;
        flex-direction: column;
    }

    .header-team {
        display: flex;
        justify-content: center;
    }

    .header-donations {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}