.chat-container{
 
}

.chat-display{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.chat-right, .chat-left{
    max-width: 70%;   
    padding: 15px;
    margin:10px;
    border-radius: 15px;
}
.chat-right{
    background-color: #e2e2ff;
    align-self: flex-end;
}

.chat-left{
    background-color: #e6e1e6;
  align-self: flex-start;
    }
.chat-new{
    font-style: italic;
    color: #ff0000;

}
.chat-input-container{
    margin: 0px;
    padding: 0px;
}
.chat-input{
    width: 90%;
    height: 100%;
}