.mainDashContACC {
  font-family: "Red Hat Display";
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: var(--text-color);
  word-wrap: break-word;
  text-align: center;
  margin: 10px 1% 10px 1%;
  transition: ease 0.2s, left 0.2s;
  overflow: hidden;
}

.AdoptContainer {
  text-align: left;
  margin: 0px 25px 0px 25px;
  word-wrap: break-word;
}

.mainDashContACC img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  max-height: 200px;
  border-radius: 1rem;
  object-fit: cover;
}

.btnRowAdopt {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
  color: rgb(231, 231, 231);
  padding-bottom: 25px;
  padding-right: 25px;
}

.MAdoptbutton {
  width: 150px;
  height: 40px;
  padding-top: 0px;
  margin-left: 15px;
  text-transform: uppercase;
  font-family: "Mochiy Pop One";
  background: var(--greylight);
  border: 1px solid var(--border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.MAdoptbutton:hover {
  background: var(--pink);
  border: 1px solid var(--border);
}

.MAdoptbutton:focus {
  background: var(--green);
  border: 1px solid var(--border);
}

.MAdoptbutton:active {
  background: var(--green);
  border: 1px solid var(--border);
}

.MAdoCancbutton {
  width: 150px;
  height: 40px;
  padding-top: 0px;
  margin-left: 15px;
  text-transform: uppercase;
  font-family: "Mochiy Pop One";
  background: var(--greylight);
  border: 1px solid var(--border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.MAdoCanbutton {
  width: 200px;
  height: 40px;
  padding-top: 0px;
  margin-left: 15px;
  text-transform: uppercase;
  font-family: "Mochiy Pop One";
  background: var(--backgroundBttn2);
  border: 1px solid var(--border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.MAdoCanbutton:hover {
  background: var(--pink);
  border: 1px solid var(--border);
}

.MAdoCanbutton:focus {
  background: var(--greylight);
  border: 1px solid var(--border);
}

.MAdoCanbutton:active {
  background: var(--greylight);
  border: 1px solid var(--border);
}

.MAdoCancbutton:hover {
  background: var(--pink);
  border: 1px solid var(--border);
}

.MAdoCancbutton:focus {
  background: var(--greylight);
  border: 1px solid var(--border);
}

.MAdoCancbutton:active {
  background: var(--greylight);
  border: 1px solid var(--border);
}

.avatar-adopter {
  height: 100px;
  width: 100px;
}



@media screen and (max-width: 1200px) {

  .mainDashContACC {
    width: 100%;
    min-width: 400px;
  }

  .btnRowAdopt {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 25%;
    margin: auto;
    padding-right: 25px;
  }
}