/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 400px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
  body {
    margin-bottom: 700px;
  }

  .footer {
    height: 500px;
  }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 25px;
  background-color: var(--backgroundFooter);
  color: var(--greylight);
}

.row {
  flex: none;
  position: relative;
}

.col-md-5 {
  margin-left: 40px;
}

.body {
  height: 50%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 80px;
  bottom: 0;
}


footer a {
  color: var(--greylight);
  text-decoration: none;
  height: 0rem;

}

footer a:hover,
footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid var(--greylight);

}

.container {
  margin-top: 40px;
  bottom: 0;
  height: 100%;

}



footer .form-control {
  background-color: #3d3e40;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;

}



.row-lists {
  transform: translateY(-170px) translateX(350px);
  height: 200px;
  width: 100%;

}



.col-6 {
  display: inline-block;
  position: relative;
  justify-content: center;
  margin-top: 20px;

}


.newsletter {
  display: inline-block;
  margin-top: 0px;
  transform: translateY(-195px) translateX(35rem);
}

.paragraph {
  font-weight: normal;
  line-height: 1.4;
}

.list-unstyled {
  margin: 10px;
  font-size: large;
  font-weight: bold;

}

.nav-heading {
  margin: 10px;
  font-size: large;
  margin-top: -35px;

}

.nav-item {
  list-style: none;
  margin-top: 10px;

}



.socials {
  max-width: 140px;
  max-height: 100px;
  display: flex;
}

.lower {
  border-top: 3px solid rgb(96, 96, 96);
  margin-left: 50px;
  margin-right: 50px;

}

.rights {
  margin-left: 50px;
  font-size: small;

}



.footer-bottom {
  display: flex;
  justify-content: flex-end;

}

.li-bottom {
  list-style: none;
}

.a-bottom {
  position: relative;
  margin: 0 4rem auto 0;

}