.add-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  border-radius: 25px;
}


.textarea {
  display: flex;
  resize: none;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(213, 213, 213);
}

.add-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 2rem;
  padding: 5px;
  color: var(--greylight);
}

.addImageContainer {
  margin: 0 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.addImage {
  width: 80%;
  padding: 10px;
  margin-top: 3.7%;
  margin-left: 10%;
}

.add-wrapperLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.addwrapper-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.addcard-wrapper {
  width: 120%;
}

.addcard {
  border-color: transparent;
  background-color: transparent;
  height: 100%;
  color: var(--greylight);
}

.addcard.fat {
  padding: 10px;
  height: max-content;
  margin-bottom: 3rem;
  background-color: transparent;
  border-color: transparent;
}

.addcard.header {
  margin-bottom: 1pt;

}

.addcard-body {
  margin-top: 0pt;
}

.addcard .addcard-title {
  margin-bottom: 30px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.addform {
  border-width: 2.3px;
}

.addform label {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
}

.addformSm {
  border-width: 2.3px;
  width: 30%;
}

.addformSm label {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
}

.formControlRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-controlSm {
  display: block;
  width: 95%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  /* color: var(--border); */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .375rem;
  transition: var(--border) .15s ease-in-out;
  box-shadow: .15s ease-in-out;
}

.form-controlAdd {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  /* color: var(--text-color); */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .375rem;
  transition: var(--border) .15s ease-in-out;
  box-shadow: .15s ease-in-out;
}

.form-groupAdd label {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
}

.btnform-submit {
  width: 100%;
  padding: 12px 10px;
  margin-top: 10px;
  background-color: var(--green) !important;
  border: solid 1px var(--border);
  box-shadow: 0px 5px 5px 0px var(--grey2);
}

.btnform-submit:hover {
  background-color: var(--pink) !important;
}

.alignRight {
  position: absolute;
  right: 34px;
}

.addfooter {
  color: var(--greylight);
  justify-content: center;
  display: flex;
  position: relative;
  width: 60%;
}

.addbtn {
  width: 100%;
  padding: 12px 10px;
  margin-top: 10px;
  color: var(--white) !important;
  background-color: var(--green) !important;
  border: solid 1px var(--border) !important;
  box-shadow: 0px 5px 5px 0px var(--grey2);
}

.addbtn:hover {
  background-color: var(--pink) !important;
}

.addinvalid-fb {
  color: #FF8AE5;
}

h6 {
  display: flex;
  flex-direction: row;
  color: var(--greylight);
}

h6:before,
h6:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

h6:before {
  margin-right: 10px
}

h6:after {
  margin-left: 10px
}

@media screen and (max-width: 1627px) {
  .addimageContainer {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .addcard-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .addcard.fat {
    padding: 0;
  }

  .addcard.fat .addcard-body {
    padding: 15px;
  }
}