@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Red+Hat+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', 'Mochiy Pop One', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background) !important;
  background: url("./Assets/mainBK.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:root {
  --black: #1D1E22;
  --white: #fafafa;
  --blackTransp: #1d1e22ae;
  --pink: #FF8AE5;
  --greylight: #B4A8B9;
  --grey: #5A5A70;
  --grey2: #3c3d4197;
  --grey3: #3c37376a;
  --green: #87E2D2;
  --background: #fafafa;
  --box-shadow-input: 0px 5px 5px 0px var(--grey2);
  --dark--grey: rgb(77, 77, 77);
}

body.light {
  --border: var(--grey2);
  --text-color: var(--greylight);
  --text-color-comments: var(--white);
  --text-color-sec: var(--white);
  --text-color-pag: var(--white);
  --background: var(--white);
  --background-sec: var(--grey);
  --backgroundFooter: var(--grey);
  --backgroundBttn: var(--pink);
  --backgroundBttn2: var(--green);
  --backgroundBttn3: var(--greylight);
  --shadow: var(--grey3);
}

body.dark {
  --border: var(--grey2);
  --text-color: var(--white);
  --text-color-sec: var(--greylight);
  --text-color-comments: var(--dark--grey);
  --text-color-pag: var(--white);
  --background: var(--grey);
  --background-sec: var(--pink);
  --backgroundFooter: var(--green);
  --backgroundBttn: var(--greylight);
  --backgroundBttn2: var(--green);
  --backgroundBttn3: var(--greylight);
  --shadow: var(--grey3);
}

.boxWrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  margin-bottom: 5%;
}