.mainDashCont {
  display: flex;
  flex-wrap: wrap;
}

.conTitulo {
  color: var(--text-color);
  margin: 2.5rem 0 0rem 0;
  text-align: center;
  width: 100%;
  height: 40px;
  position: absolute;
}

.favContainer {
  position: relative;
  top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.favcardLeftPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: auto;
}

.favcardLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: medium;
  width: 20%;
  height: auto;
  color: var(--text-color);
  border-right: 1px solid var(--greylight);
}

.favcardCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: medium;
  width: 20%;
  height: auto;
  padding-right: 2%;
  color: var(--text-color);
  border-right: 1px solid var(--greylight);
}

.favcardRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: medium;
  width: 30%;
  height: auto;
  padding-left: 2%;
  padding-right: 2%;
  color: var(--text-color);
}

.imgFav img {
  transition: all 0.3s;
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.FavBtn {
  position: absolute;
  left: 3%;
  top: 3%;
  width: 45px;
  height: 43px;
  cursor: pointer;
  background: url(../../../Assets/botonFAV_active.png);
}
.a-btnFavElim {
  position: absolute;
  border: none;
  left: 3%;
  top: 2%;
  width: 45px;
  height: 43px;
  cursor: pointer;
  background: url(../../../Assets/botonFAV_active.png);
}
