.mainDashUser {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  width: 100%;
}

.notFound-user{
  margin:10rem;
}

.userTitulo {
  position: relative;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
  height: auto;
}

.userSearchContainer {
  position: relative;
  top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.userContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}