.carousel2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    margin-top: 150px;

}

.carousel2 .testimonial-profile {
    width: 20%;
    max-height: 6.5rem;
    border-radius: 25px;
    border: 2px solid var(--greylight);
}

.carousel2 .testimonial-item {
    height: 320px;
}

.carousel2 .carousel-indicators {
    bottom: -100px;
}

.carousel2 .testimonial-photo {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.carousel2 .item1 {
    display: flex;
}

.carousel2 .containerItems {
    display: flex;
    height: auto;
    width: 1000px;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.carousel2 .carousel,
.carousel2 .slide {
    margin: 0 auto;
    height: 200px;
}

.carousel2 .infoTestimonial {
    height: 200px;
    color: var(--greylight);

}

@media only screen and (max-width: 1100px) {
    .carousel2 {
        display: none;
    }
}